* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.header, .footer {
	background-color: #e3f2fd;
	padding: 20px;
	text-align: center;
}

.topnav {
	background-color: #0d47a1;
	overflow: hidden;
}
.topnav a {
	color: white;
	text-decoration: none;
	float: left;
	padding: 20px;
	display: block;
	text-align: center;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.column {
	float: left;
	width: 33.33%;
	padding: 15px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.alone {
	text-align: center;
	font-size: 30px;
	margin: 60px;
}
