@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
* {
 	box-sizing: border-box;
 }

 body {
 	font-family: 'Fredoka', sans-serif;
 }

.header, .footer {
	background-color: #e3f2fd;
	text-align: center;
	padding: 20px;
}
.navbar {
	background-color: #0d47a1;
	padding: 30px;

}
.navbar a {
	text-decoration: none;
	padding: 30px;
	color: white;

}
.navbar a:hover {
	background-color: #e3f2fd;
	color: #0d47a1;
}
.column {
	float: left;
	padding: 30px;
	text-align: center;
}
.column1 {
	width: 20%;
}
.column2 {
	width: 60%;
}
.column3 {
	width: 20%;
}
.main {
	clear: left;
}
.anotherrow {
	border: 50px;
	padding: 20px;
	font-size: 20px;
	text-align: center;
}
